<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{{ url_for('static',filename='img/favicon.png')}}" type="image/png">
	<title>Twitter Sentiment</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/magnific-popup.css')}}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/modal.css')}}">
	<!-- main css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/return.css')}}">
	<script src="{{ url_for('static',filename='javascript/modal.css')}}"></script>
</head>
<body>

	<!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="{{ url_for('static',filename='img/logo.png')}}" alt=""></a>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-center">
							<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="features.html">Features</a></li>
							<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="#" class="primary_btn text-uppercase">SUBMIT</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->

	<!--================ Start Features Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
			<div class="container">
				<div class="banner_content text-left">
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="output.html">Analysis</a>
					</div>
					<h2>SENTIMENT FOR {{u1}} AND {{u2}}</h2>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Banner Area =================-->

	<!--================Start Big Features Area =================-->
	<section class="section_gap big_features">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2 style="color: #aaa;">Negative tweets got {{c}} likes for {{u1}}</h2>
						<h2 style="color: grey;">Negative tweets got {{a}} likes for {{u2}}</h2>
						<h2 style="color: #555;">Negative tweets got {{d}} retweets for {{u1}}</h2>
						<h2>Negative tweets got {{b}} retweets for {{u2}}</h2>
						
						<p>{{e[0]}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Big Features Area =================-->

	<!--================Impress Area =================-->
	<section class="impress_area">
		<div class="container">
			<div class="impress_inner">
				<h2>GRAPHS</h2>
				<p>faltu k graphs</p>
			</div>
		</div>
	</section>
	<!--================End Impress Area =================-->
	
	<!--================ Start Testimonial Area =================-->
	<div class="section_gap_top testimonial_area features_page">
		
		<table width="100%">
			<tr>
				<td colspan="">
					<img class="yo" src="{{ url_for('static',filename='media/1.png') }}" height="50%" target = "_blank">
				</td>
				<td>
					<img class="yo" src="{{ url_for('static',filename='media/2.png') }}" height="50%" target = "_blank">
				</td>
			</tr>
			<tr>
				<td>
					<img class="yo" src="{{ url_for('static',filename='media/3a.png') }}" height="50%" target = "_blank">
				</td>
				<td>
					<img class="yo" src="{{ url_for('static',filename='media/3b.png') }}" height="50%" target = "_blank">
				</td>
			</tr>
			<tr>
				<td>
					<img class="yo" src="{{ url_for('static',filename='media/4a.png') }}" height="50%" target = "_blank">
				</td>
				<td>
					<img class="yo" src="{{ url_for('static',filename='media/4b.png') }}" height="50%" target = "_blank">
				</td>
			</tr>
			<tr>
				<td>
					<img class="yo" src="{{ url_for('static',filename='media/5_0.png') }}" height="50%" target = "_blank">
					<img class="yo" src="{{ url_for('static',filename='media/5_1.png') }}" height="50%" target = "_blank">
				</td>
				<td>
					<img class="yo" src="{{ url_for('static',filename='media/5_-1.png') }}" height="50%" target = "_blank">
				</td>
			</tr>
			<tr>
				<td>
					<img class="yo" src="{{ url_for('static',filename='media/6.png') }}" height="50%" target = "_blank">
				</td>
				<td>
					<img class="yo" src="{{ url_for('static',filename='media/7.png') }}" height="50%" target = "_blank">
				</td>
			</tr>
		</table>
	</div>
	<!--================ End Testimonial Area =================-->

	<!--================Footer Area =================-->
	<footer class="footer_area">
		<div class="container">
			<div class="row footer_inner">
				<div class="col-lg-5 col-sm-6">
					<aside class="f_widget ab_widget">
						<div class="f_title">
							<h3>About Us</h3>
						</div>
						<p>
							Sentiment Analysis is the process of ‘computationally’ determining whether a piece of writing is positive, negative or neutral. It’s also known as opinion mining, deriving the opinion or attitude of a speaker.
						</p>
						<p>Copyright &copy;20 All rights reserved | Made by Aviral and parth</p>
					</aside>
				</div>
				<div class="col-lg-5 col-sm-6">
					<aside class="f_widget news_widget">
						<div class="f_title">
							<h3>Newsletter</h3>
						</div>
						<p>Stay updated with our latest trends</p>
						<div id="mc_embed_signup">
							<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="subscribe_form relative">
								<div class="input-group d-flex flex-row">
									<input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '"
									 required="" type="email">
									<button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
								</div>
								<div class="mt-10 info"></div>
							</form>
						</div>
					</aside>
				</div>
				<div class="col-lg-2">
					<aside class="f_widget social_widget">
						<div class="f_title">
							<h3>Follow Us</h3>
						</div>
						<p>Let us be social</p>
						<ul class="list">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</aside>
				</div>
			</div>
		</div>
	</footer>
</body>
<script>
	var modal = document.getElementById("myModal");

	// Get the image and insert it inside the modal - use its "alt" text as a caption
	var img = document.getElementById("myImg");
	var modalImg = document.getElementById("img01");
	var captionText = document.getElementById("caption");
	img.onclick = function(){
	modal.style.display = "block";
	modalImg.src = this.src;
	captionText.innerHTML = this.alt;
	}

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	span.onclick = function()
	 {
	modal.style.display = "none";
	}
</script>
</html>